black >= 22.3.0
blacken-docs
click >= 8.0.0
codespell
coverage
dulwich
flake8
gitpython
isort
mccabe
mkdocs
mkdocs-material
mkdocstrings-python
myst-parser
pre-commit
pyfiglet
pylint
pytest
pytest-cov
pyupgrade
rich
toml
types-toml
